:root {
  --primaryColor: #082040; /* Dark Blue */
  --secondaryColor: #0a2a50; /* Slightly lighter Dark Blue */
  --secondaryColor1:rgb(29, 90, 165)1; /* Slightly lighter Dark Blue */

  --green2Color: #0c345a; /* Medium Dark Blue */
  --green1Color: rgba(8, 32, 64, 0.148); /* Transparent Dark Blue */
  --green3Color: #0a213d; /* Darker Blue */

  --redColor: hsl(0, 100%, 50%);
--greenColor: hsl(120, 100%, 25%);
  /* Retain existing colors */
  --blackColor: hsl(0, 0%, 11%);
  --whiteColor: hsl(0, 0%, 100%);
  --textColor: hsl(240, 4%, 36%);
  --bodyColor: rgb(240, 240, 246);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
}


.featured {
  background: var(--bodyColor);
  padding: 20px 0;
  text-align: center;
}

.featured .container {
  padding-top: 1%;
}

.featured h2 {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--textColor);

}

.featured .support {
  color: var(--redColor);

}

.featured .art-alive {
  color: var(--greenColor);

}

@media screen and (max-width: 768px) {
  .featured h2 {
    font-size: 1.5rem;
  }

  .featured .container {
    padding-top: 5%;
  }
}

@media screen and (max-width: 480px) {
  .featured h2 {
    font-size: 1.2rem;
  }

  .featured .container {
    padding-top: 10%;
  }
}