:root {
  --primaryColor: #082040; /* Dark Blue */
  --secondaryColor: #0a2a50; /* Slightly lighter Dark Blue */
  --secondaryColor1:rgb(29, 90, 165); /* Slightly lighter Dark Blue */

  --green2Color: #0c345a; /* Medium Dark Blue */
  --green1Color: rgba(8, 32, 64, 0.148); /* Transparent Dark Blue */
  --green3Color: #0a213d; /* Darker Blue */

  --redColor: hsl(0, 100%, 50%);
--greenColor: hsl(120, 100%, 25%);
  /* Retain existing colors */
  --blackColor: hsl(0, 0%, 11%);
  --whiteColor: hsl(0, 0%, 100%);
  --textColor: hsl(240, 4%, 36%);
  --bodyColor: rgb(240, 240, 246);
  --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
}



  .location {
    background: var(--green1Color);
    padding: 20px 0;
    text-align: center;
 
  }
  
  
  .location .box {
    box-shadow: 0 0 20px 0 rgb(112 121 138 / 18%);
  border-radius: 6px;
  text-align: center;
  padding: 30px;
  cursor: pointer;
  background: var(--bodyColor);
  }
  
  .location h2 {
    font-size: 1.5rem; /* Adjust font size */
    /* Make it bold */
    color: var(--green2Color); /* Primary color */
    margin-bottom: 20px; /* Space below the heading */
  
    text-align: center; /* Optional: make text uppercase */
  }
  

  .location .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the boxes horizontally */
    gap: 20px;
    
    
  }