.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.hero .container {
  padding-top: 1%; /* Default padding for larger screens */
}

.hero .container img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any default inline spacing */
  margin: 0 auto; /* Center the image horizontally */
}

@media screen and (max-width: 800px) {
  .hero .container {
      padding-top: 2%; /* Adjust padding for screens up to 800px width */
  }
}

@media screen and (max-width: 600px) {
  .hero .container {
      padding-top: 5%; /* Adjust padding for screens up to 600px width */
  }
}

@media screen and (max-width: 400px) {
  .hero .container {
      padding-top: 10%; /* Adjust padding for screens up to 400px width */
  }
}
